{% extends 'layouts/base.html' %}

{% block title %}Autorespondez - Terms & Condition{% endblock %}
{% block meta_description %}Terms & Condition{% endblock %}
{% block header %}
 <div class="container">
                <!-- For centering the content vertically -->
                <div class="outer">
                    <div class="inner text-center">
                        <div class="breadcrumb">
                        	<a class="" href="index.html">Home</a>
                        	<i class="icon ion-chevron-right"></i>
                        	<a class="" href="#">Pages</a>
                        	<i class="icon ion-chevron-right"></i>
                        	<a class="" href="#">Terms & Condition</a>
                        </div> <!-- end breadcrumb -->

                        <h1 class="">Terms and Condition</h1>
                        <h5 class="">This page template is good to display your privacy policies / terms of service.</h5>

                    </div> <!-- end inner -->
                </div> <!-- end outer -->
            </div> <!-- end container -->
{% endblock %}

{% block body %}

{% endblock %}